.root {
    -fx-background-color: #eeeeee;
}

Label {
}

.options {
    -fx-background-radius: 0;
    -fx-background-color: #364f6b;
    -fx-text-fill: #eeeeee;
}

.options:armed,
.options:hover {
    -fx-background-color: #3d84a8;
}

.column {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #393e46;
}

.navigation {
    -fx-background-color: #CDD0D5;
    -fx-text-fill: #393e46;
}

.navigation:armed,
.navigation:hover {
    -fx-background-color: #A8B3BC;
}

.navigation-tab {
    -fx-background-color: #CDD0D5;
    -fx-text-fill: #393e46;
    -fx-background-radius: 0;
}

.navigation-tab:armed,
.navigation-tab:hover {
    -fx-background-color: #A8B3BC;
}

.label-button {
    -fx-background-color: #364f6b;
    -fx-background-radius: 0;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 32px;
}

.label-button:armed,
.label-button:hover {
    -fx-background-color: #3d84a8;
}

.dialog-pane .button {
    -fx-background-color: #CDD0D5;
    -fx-text-fill: #393e46;
}

.dialog-pane .button:armed, 
.dialog-pane .button:hover {
    -fx-background-color: #A8B3BC;
}

